<section id="slider">
    <div class="slides-wrap">
         <ul>
            <li class="slide">
                <div class="slide-img"></div>
                <div class="slide-description">
                    <h2 class="slide-title">IF YOU LOVE SUSHI THEN YOU WILL LOVE US. </h2>
                    <p class="slide-content">With more than 140 locations across Canada, we play an active role in our customers’ busy lives by creating dishes that are easy to integrate into their fast-paced schedules.</p>
                    <a href="#/menu" class="button">Read More</a>
                </div>
            </li>
        </ul> 
        {{!-- <ul class="slider-nav">
            <li><a href="#" class="slider-prev">Prev</a></li>
            <li><a href="#" class="slider-next">Next</a></li>
        </ul> --}}
    </div>
    {{!-- <ol class="slider-controller">
        <li><a href="#" class="active">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
    </ol> --}}
</section>
 <section id="wrapper">
    {{#restaurant}}
    <header class="content-header home-content-header">
        <h1>"{{slogan}}"</h1>
        <p class="content-description">{{slogan}}</p>
        <p><img src="../assets/images/stars.png" alt="stars"></p>
    </header>
    {{/restaurant}}
    <div class="previews">
        <article class="preview">
            <h2 class="preview-title">CHEF'S RECOMMENDATIONS</h2>
            {{#chefFaves}}
            <div class="chef-menu-item">
                <img class="home-blurbs-img" src="{{pictureUrl}}" alt="{{name}}">
                <article>
                    <a class="home-blurbs-title" href="#/menu/{{id}}"> {{name}} </a>
                    <p class="home-blurbs-desc">
                        {{#each ingredients}}
                        {{#if @last}}
                        {{this}}
                        {{else}}
                        {{this}},
                        {{/if}}
                        {{/each}}
                    </p>
                </article>
            </div>
            {{/chefFaves}}
        </article>
        {{#restaurant}}
        <article class="preview">
            <h2 class="preview-title">LOCATION AND HOURS OF OPERATION</h2>
            <div class="location-article">
                <article class="home-blurbs-img" id="map">
                    
                </article>
                <p class="home-blurbs-desc">
                    {{address}}
                </p>
                {{#working-hours}}
                <div>
                    <h4 class="preview-title">MON-FRI</h4>
                    <h6>{{weekdays.start}}-{{weekdays.end}}</h6>
                    <h4 class="preview-title">SAT-SUN</h4>
                    <h6>{{weekend.start}}-{{weekend.end}}</h6>
                </div>
                {{/working-hours}}
            </div>
        </article>
        {{/restaurant}}
        <article class="preview">
            <h2 class="preview-title">CUSTOMER TESTIMONIALS</h2>
            <div class="customer-review-article">
                {{#dishes}}
                {{#if @first}}
                {{#comments}}
                {{#if @first}}
                <img class="home-blurbs-img" src="{{userPhotoUrl}}" alt="person-icon">
                <h4 class="home-blurbs-title"> {{username}} </h4>
                <p class="home-blurbs-desc">
                    “{{comment}}”
                </p>
                {{/if}}
                {{/comments}}
                {{/if}}
                {{/dishes}}
            </div>
        </article>
    </div>
    
</section> 
