{{!-- <section id="main-header-section">
        <header id="main-header">
            <div class="site-logo">
                <img src="./assets/images/header-logo.png" alt="Site logo" class="logo-img">
                {{#restaurant}}<span href="#/home" class="site-title">{{name}}</span>{{/restaurant}}
            </div>
            <nav id="main-nav" role="navigation">
                <ul>
                    <li><a href="#/home">HOME</a></li>
                    <li><a href="#/menu">MENU</a></li>
                    <li><a href="#/location">LOCATION</a></li>
                </ul>
            </nav>
            <nav id="mobile-nav" role="navigation">
                <div id="btn-mobile-nav"><img src="./assets/images/mobile-nav-button.png" alt="sushi-button" class="mobile-nav-button"></div>
                <ul class="sub-menu">
                    <li><a href="#/home">HOME</a></li>
                    <li><a href="#/menu">MENU</a></li>
                    <li><a href="#/location">LOCATION</a></li>
                </ul>
            </nav>
        </header>
</section>
<main id="main"> --}}
<section id="slider">
    <div class="slides-wrap">
         <ul>
            <li class="slide">
                <div class="slide-img"></div>
                <div class="slide-description">
                    <h2 class="slide-title">DELICIOUS FOOD THAT WON'T HURT YOUR WALLET</h2>
                    <p class="slide-content">Fusce nunc diam, suscipit a iaculis ac, tristique ac erat. Nunc eros lacus, placerat non ornare et, dignissim ut ligula. Duis sed neque et velit rutrum rutrum ut nec tellus. Nulla facilisi.</p>
                    <a href="#/home" class="button">Read More</a>
                </div>
                <div class="slide-top-shadow"></div>
                <div class="slide-bottom-shadow"></div>
            </li>
        </ul> 
        <ul class="slider-nav">
            <li><a href="#" class="slider-prev">Prev</a></li>
            <li><a href="#" class="slider-next">Next</a></li>
        </ul>
    </div>
    <ol class="slider-controller">
        <li><a href="#" class="active">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
    </ol>
</section>
 <section id="main-content" class="group">
    {{#restaurant}}
    <header class="content-header home-content-header">
        <h1>"{{slogan}}"</h1>
        <p class="content-description">{{slogan}}</p>
        <p><img src="../assets/images/stars.png" alt="stars"></p>
    </header>
    {{/restaurant}}
    <div class="previews">
        <article class="preview">
            <h2 class="preview-title">CHEF'S RECOMMENDATIONS</h2>
            {{#chefFaves}}
            <div class="chef-menu-item">
                <img class="home-blurbs-img" src="{{pictureUrl}}" alt="{{name}}">
                <article>
                    <a class="home-blurbs-title" href="#/menu/{{id}}"> {{name}} </a>
                    <p class="home-blurbs-desc">
                        {{#each ingredients}}
                        {{#if @last}}
                        {{this}}
                        {{else}}
                        {{this}},
                        {{/if}}
                        {{/each}}
                    </p>
                </article>
            </div>
            {{/chefFaves}}
        </article>
        {{#restaurant}}
        <article class="preview">
            <h2 class="preview-title">LOCATION AND HOURS OF OPERATION</h2>
            <div class="location-article">
                <article class="home-blurbs-img" id="map">
                    
                </article>
                <p class="home-blurbs-desc">
                    {{address}}
                </p>
                {{#working-hours}}
                <div>
                    <h4 class="preview-title">MON-FRI</h4>
                    <h6>{{weekdays.start}}-{{weekdays.end}}</h6>
                    <h4 class="preview-title">SAT-SUN</h4>
                    <h6>{{weekend.start}}-{{weekend.end}}</h6>
                </div>
                {{/working-hours}}
            </div>
        </article>
        {{/restaurant}}
        <article class="preview">
            <h2 class="preview-title">CUSTOMER TESTIMONIALS</h2>
            <div class="customer-review-article">
                {{#dishes}}
                {{#if @first}}
                {{#comments}}
                {{#if @first}}
                <img class="home-blurbs-img" src="{{userPhotoUrl}}" alt="person-icon">
                <h4 class="home-blurbs-title"> {{username}} </h4>
                <p class="home-blurbs-desc">
                    “{{comment}}”
                </p>
                {{/if}}
                {{/comments}}
                {{/if}}
                {{/dishes}}
            </div>
        </article>
    </div>
    
</section> 
{{!-- </main>
<footer id="main-footer">
        <!-- <p><a href="#/menu" class="button">Menu</a></p> -->
        <p class="footer-logo"><img src="./assets/images/footer-logo.png" alt="footer-logo"></p>
        <nav id="footer-nav" role="navigation">
            <ul>
                <li><a href="#/home">HOME</a></li>
                <li><a href="#/menu">MENU</a></li>
                <li><a href="#/location">LOCATION</a></li>
            </ul>
        </nav>
        <div class="footer-copyright">
            <p>Designed by <a href="http://www.elegantthemes.com/" title=" Ultimate WordPress Toolkit For Web Design" class="copyright-link">ElegantThemes</a>                - Powered by <a href="https://bg.wordpress.org/" class="copyright-link">WordPress</a></p>
        </div>
</footer> --}}