<section id="wrapper">
    <div class="quote">
        <h2 class="page-title"> LOCATION </h2>
        <p class="page-description"> You had me at sushi. </p>
        <a href="#/menu" class="page-navigation"> » LOCATION </a>
        <span></span>
        <input type="text" class="search-input" placeholder="Search this website...">
        <button class="search-button"> Search </button>
    </div>
    <div class="location-view">
        {{#restaurant}}
        <article class="location-address">
            <div>
                <h2 class="preview-title">ADDRESS</h2>
                <p class="location-info"> {{address}}</p>
            </div>
            {{#working-hours}}
            <div>
                <h2 class="preview-title">HOURS OF OPERATION</h2>
                <p class="location-info">MONDAY-FRIDAY: <span>{{weekdays.start}}-{{weekdays.end}}</span></p>
                <p class="location-info">SATURDAY-SUNDAY: <span>{{weekend.start}}-{{weekend.end}}</span></p>
            </div>
            {{/working-hours}}
            <div>
                <h2 class="preview-title">CONTACT INFO</h2>
                <p class="location-info">EMAIL ADDRESS: <span>{{email}}</span></p>
                <p class="location-info">TELEPHONE: <span>{{telephone}}</span></p>
                <p class="location-info">FAX: <span>{{fax}}</span></p>
            </div>
        </article>
        {{/restaurant}}
        <article class="location-map" id="map">
            
        </article>
    </div>
</section>