<section id="wrapper">
    <div class="quote">
        <h2 class="page-title"> MENU </h2>
        <p class="page-description"> Stimulate your senses. Inspire your soul. </p>
        <a href="#/menu" class="page-navigation"> » MENU </a>
        <span></span>
        <input type="text" class="search-input" placeholder="Search this website...">
        <button class="search-button"> Search </button>
    </div>
    <div class="previews">
        <article class="preview">
            <h2 class="preview-title">SUSHI</h2>
            {{#dishes}}
            {{#if sushi}}
            <div class="chef-menu-item">
                <span class="home-blurbs-price">${{price}}</span>
                <img class="home-blurbs-pricetag" src="../assets/images/price-tag.png" alt="price-tag">
                <img class="home-blurbs-img" src="{{pictureUrl}}" alt="{{name}}">
                <article>
                    <a class="home-blurbs-title" href="#/menu/{{id}}"> {{name}} </a>
                    <p class="home-blurbs-desc">
                        {{#each ingredients}}
                        {{#if @last}}
                        {{this}}
                        {{else}}
                        {{this}},
                        {{/if}}
                        {{/each}}
                    </p>
                </article>
            </div>
            {{/if}}
            {{/dishes}}
        </article>
        <article class="preview">
            <h2 class="preview-title">PIZZA</h2>
            {{#dishes}}
            {{#if pizza}}
            <div class="chef-menu-item">
                <span class="home-blurbs-price">${{price}}</span>
                <img class="home-blurbs-pricetag" src="../assets/images/price-tag.png" alt="price-tag">
                <img class="home-blurbs-img" src="{{pictureUrl}}" alt="{{name}}">
                <article>
                    <a class="home-blurbs-title" href="#/menu/{{id}}">{{name}}</a>
                    <p class="home-blurbs-desc">
                        {{#each ingredients}}
                        {{#if @last}}
                        {{this}}
                        {{else}}
                        {{this}},
                        {{/if}}
                        {{/each}}
                    </p>
                </article>
            </div>
            {{/if}}
            {{/dishes}}
        </article>
        <article class="preview">
            <h2 class="preview-title">POKE</h2>
            {{#dishes}}
            {{#if poke}}
            <div class="chef-menu-item">
                <span class="home-blurbs-price">${{price}}</span>
                <img class="home-blurbs-pricetag" src="../assets/images/price-tag.png" alt="price-tag">
                <img class="home-blurbs-img" src="{{pictureUrl}}" alt="{{name}}">
                <article>
                    <a class="home-blurbs-title" href="#/menu/{{id}}">{{name}}</a>
                    <p class="home-blurbs-desc">
                        {{#each ingredients}}
                        {{#if @last}}
                        {{this}}
                        {{else}}
                        {{this}},
                        {{/if}}
                        {{/each}}
                    </p>
                </article>
            </div>
            {{/if}}
            {{/dishes}}
        </article>
    </div>
</section>