{{#currentDish}}
<section id="wrapper" class="post-view">
    <div class="quote">
        <h2 class="page-title"> {{name}} </h2>
        <p class="page-description"> Taste Of Japan. | {{comments.length}} comments</p>
        <a href="#/menu/{{id}}" class="page-navigation"> » MENU » {{nameToUpperCase}} </a>
        <span></span>
        <input type="text" class="search-input" placeholder="Search this website...">
        <button class="search-button"> Search </button>
    </div>
    <div class="previews">
        <article class="post">
            <div class="post-container">
                <img class="home-blurbs-img" src="{{pictureUrl}}" alt="{{name}}">
                <article>
                    <a class="home-blurbs-title" href="#/menu/{{id}}"> {{name}} </a>
                    <p class="home-blurbs-desc">
                        {{description}}
                    </p>
                </article>
            </div>
            <section class="comments">
                <h2 class="preview-title">{{comments.length}} COMMENTS</h2>
                {{#if comments.length}}
                    {{#comments}}
                        <div class="comment-container">
                            <div>
                                <img class="home-blurbs-img" src="{{userPhotoUrl}}" alt="{{username}}">
                                <p class="comment-date"> {{date}} </p>
                            </div>
                            <article class="comment-content">
                                    <a class="home-blurbs-title"> {{username}} says:</a>
                                    <p class="home-blurbs-desc">
                                            {{comment}}
                                    </p>
                            </article>
                        </div>
                    {{/comments}}
                {{/if}}
                <h2 class="preview-title"> LEAVE A COMMENT</h2>
            </section>
        </article>
        <span></span>
        <div class="aside">
            <div class="side-widget">
                <article class="preview">
                    <h2 class="preview-title">RECENT COMMENTS</h2>
                    <ul>
                        {{#getComments}}
                        <li class="side-post-desc">{{comment}}</li>
                        {{/getComments}}
                </article>
            </div>
        </div>
    </div>
</section>
{{/currentDish}}